migrations
__pycache__
node_modules
*.sqlite3
dockertestvol/
ll_web/data/*
default_key.json
default_location.json
linux
.vscode
ll_web/frontend/static/frontend/main.js
ll_web/frontend/static/frontend/main.js.LICENSE.txt
