hr {
    color: rgb(129, 128, 133);
    width: 90%;
    
}

#list_search {
    width: 19em;
    height: 2.5em;
}

@media (max-width: 600px){
    .filter{
        flex-direction: column;
    }
    #list_search {
        width: 90%;
    }
}

.list_grid, .tags {
    flex-direction: column;
}

div.tags form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}