body {
    background-color: #333333;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    overflow: scroll;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

button, input, select{
    width: 10em;
    height: 2em;
    background-color: #1e1e1e;
    color: #858382;
    border: none;
    border-radius: 25px;
    margin: 0.5em;  
}
button:hover, input:hover{
    color: white;
    border: rgb(165, 165, 165);
}

.top_bar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.alinge_left{
    margin-right: auto;
    margin-left: 0;
}
.alinge_right {
    margin-left: auto;
    margin-right: 0;
}

.box_for_main_contend{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main_contend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}