
body {
    background-color: #333333;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    overflow: scroll;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

button, input, select{
    width: 10em;
    height: 2em;
    background-color: #1e1e1e;
    color: #858382;
    border: none;
    border-radius: 25px;
    margin: 0.5em;  
}
button:hover, input:hover, select:hover{
    color: white;
    border: rgb(165, 165, 165);
    cursor: pointer;
}

input[type="color"]:hover {
    border: 3px solid #565559;
}


.top_bar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.alinge_left{
    margin-right: auto;
    margin-left: 0;
}
.alinge_right {
    margin-left: auto;
    margin-right: 0;
}

.box_for_main_contend{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main_contend {
    /*Currently only used in settings*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dialog_overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.dialog_box{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color: #787878;
    height: 10em;
    width: 20em;
    justify-content: center;
    display: flex;
    border-radius: 1em;
}
.dialog_box h3{
    margin-top: 0;
}
.multiselect-container li:hover {
    background: #565559 !important;
    color: #fff;
    cursor: pointer;
  }.highlightOption {
    background: #565559;
    color: #ffffff;
  }
  