@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'fonts/fonts.css';

/* Remove Scrollbars */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom Tailwind */
.inputElement {
  @apply bg-cat-input text-cat-main p-1 rounded-lg
}

.infoHl {
  @apply text-xl font-bold 
}

.mainHl {
  @apply text-3xl font-bold mt-2
}

.maxHl {
  @apply text-6xl font-bold
}

.infoBox {
  @apply mx-5 shrink-0 mt-3
}

.link{
  @apply text-cat-link hover:text-cat-linkHover
}

.grid .infoBox {
  @apply !m-0
}

.infoContainer {
  @apply bg-cat-surface rounded-md min-h-full pt-3 sm:pb-3
}

.centerRow {
  @apply flex justify-center items-center
}

.tableElement{
  @apply border-dashed border-x-2 border-cat-borderInactive px-2
}

.imgAsOverlyContainer {
  @apply relative inline-block
}

.imgAsOverly {
  @apply absolute top-0 left-0 w-full h-full bg-transparent bg-center bg-no-repeat bg-cover opacity-50 pointer-events-none
}

.interactiveContainer {
  @apply m-3 p-2 rounded-eml overflow-hidden flex flex-col hover:outline hover:outline-cat-border hover:outline-5 hover:cursor-pointer;
  @apply lg:w-[20vw] lg:h-[20vw] lg:min-w-[150px] lg:min-h-[150px] lg:max-w-[240px] lg:max-h-[240px];
  @apply sm:w-[80vw];
}

.isSelectedBoder{
  @apply outline outline-4 outline-cat-border
}

.overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.symbole {
  @apply w-[50px] h-full max-h-[50px] object-contain 
}

.infoRow {
  @apply flex flex-row my-1 items-center text-lg
}
.infoRow p {
  @apply ml-1 my-1
}

main {
  @apply min-h-screen
}

@media (max-width: 600px) {
  .largeOverlayBox{ 
      @apply fixed flex flex-col top-0 left-0 right-0 bottom-0 overflow-scroll bg-cat-bg text-cat-main
    }
}

@media (min-width: 600px) {

    .largeOverlayBox {
      @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-cat-main bg-cat-bg h-[90%] w-[90%] flex flex-col overflow-auto
    }
}
.largeViewerLargeOverlayBox {
  @apply fixed flex flex-col top-0 left-0 right-0 bottom-0 overflow-scroll bg-cat-bg text-cat-main

}