@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Remove Scrollbars */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom Tailwind */
.inputElement {
  @apply bg-zinc-800 text-white p-1 rounded-lg
}

.infoHl {
  @apply text-xl font-bold 
}

.mainHl {
  @apply text-3xl font-bold mt-2
}

.maxHl {
  @apply text-6xl font-bold
}

.infoBox {
  @apply mx-5 shrink-0 mt-3
}

.infoContainer {
  @apply bg-blue-950 rounded-md min-h-full max-h-screen pt-3 sm:pb-3
}

.centerRow {
  @apply flex justify-center items-center
}

.tableElement{
  @apply border-dashed border-x-2 border-gray-500 px-2
}

.interactiveContainer {
  @apply m-3 p-2 rounded-eml overflow-hidden flex flex-col hover:outline hover:outline-gray-500 hover:outline-5 hover:cursor-pointer;
  @apply lg:w-[20vw] lg:h-[20vw] lg:min-w-[150px] lg:min-h-[150px] lg:max-w-[240px] lg:max-h-[240px];
  @apply sm:w-[80vw];
}

.isSelectedBoder{
  @apply outline outline-4 outline-violet-500
}

.overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}


@media (max-width: 600px) {
  .largeOverlayBox{ 
      
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
      color: white;
      background-color: #787878;
      display: flex;
      flex-direction: column;
    }
}

@media (min-width: 600px) {

    .largeOverlayBox {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      transform: translate(-50%, -50%);
      background-color: #787878;
      height: 90%;
      width: 90%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
}
.largeViewerLargeOverlayBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  color: white;
  background-color: #787878;
  display: flex;
  flex-direction: column;
}