@media (min-width: 600px) {
.box {
  width: 20vw; /* Adjust this value to control the initial size of the boxes */
  height: 20vw; /* Adjust this value to maintain square aspect ratio */
  min-width: 150px; /* Adjust this value to set the minimum width of the boxes */
  min-height: 150px; /* Adjust this value to set the minimum height of the boxes */
  max-width: 240px;
  max-height: 240px;
}
}

@media (max-width: 600px) {
  
  .box {
    width: 100%; /* Adjust this value to control the initial size of the boxes */
  }
  }

.box {
  background-color: #ccc;
  margin: 7px;
  padding: 4px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
    /* Adjust this value to center vertically */
  flex-wrap: wrap;
}
