.container {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Adjust this value to center vertically */
    flex-wrap: wrap;
  }
  
  .box {
    width: 20vw; /* Adjust this value to control the size of the boxes */
    height: 20vw; /* Adjust this value to maintain square aspect ratio */
    background-color: #ccc;
    margin: 10px;
    overflow: hidden;
  }