.viewUserContentP {
    all: unset;
    display: flex;
    white-space: pre;
}

.viewUserContentLi {
    all: unset;
    display: flex;
    color: rgb(43, 43, 150);
    cursor: pointer;
    white-space: pre;
}
.viewUserContentH {
    all: unset;
    display: flex;
    font-size: revert;    
}

.viewUserContentHr{
    color: rgb(74, 77, 80);
    width: 95%;
}