.viewUserContentP {
    all: unset;
    display: flex;
}

.viewUserContentLi {
    all: unset;
    display: flex;
    color: rgb(43, 43, 150);
    cursor: pointer;
}
.viewUserContentH {
    all: unset;
    display: flex;
    font-size: revert;    
}