
@media (max-width: 600px) {
    .editorBox {
        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
        color: white;
        background-color: #787878;
        display: flex;
        flex-direction: column;
      }
}

@media (min-width: 600px) {
    .overlay {
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
      
      .editorBox {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        background-color: #787878;
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
        overflow: scroll;
      }
}


/*Headline Styles */
  .head {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .centerBlock{
  /*Placholder for possible Future css*/
  /*Some css sitill in .js file: Top bar in view mode*/
  }
  .leftBlock{
  margin-right:auto;
  margin-left: 1em;
  }/*Some css sitill in .js file: Top bar in view mode*/
  .rightBlock{
  margin-right: 1em;
  margin-left: auto;
  }

/*Styling of MainBody (HTML injection fiel and Editor)*/
.mainBody {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 1em;
    margin-right: 1em;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }
  #list_edit_msg {
    font-style: italic;
    color: #6700ae;
    font-size: 19px;
    margin: 0;
  } 

.editButtons{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  max-height: 3em;
  overflow: scroll;
}
.editButtons button{
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  margin-top: 0; 
}

textarea {
    cursor: text;
}

button, input, select {
    cursor: auto;
  }

.hamburger-icon {
  margin-left: auto;
  margin-right: 0.5em;
  margin-top: 0.5em;
  z-index: 1;
}
.hamburger-icon .icon-bar {
  width: 30px;
  height: 5px;
  background-color: #1e1e1e;
  margin-bottom: 5px ;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;

}
.hamburger-menu .menu-items {
  background-color: #787878;
  display: flex;
  flex-direction: column;
  margin-top: -2em;
  padding-top: 2em;
  border-bottom-left-radius: 10px;
}

.hamburger-menu .menu-items * {
  margin-left: auto;
}
.hamburger-menu .menu-items div {
  display: flex;
}
.hamburger-menu .menu-items div p {
  margin: auto 2px auto 0; 
}

.blur_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}