@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.head{
    @apply flex items-center justify-center
}

.leftBlock{
    @apply mr-auto ml-4
}

.rightBlock{
    @apply ml-auto mr-4
}

.mainBody{
    @apply flex-grow flex-shrink flex-auto ml-4 mr-4
}

.footer{
    @apply flex justify-center items-center
}

.mainBody{
    @apply flex-grow flex-shrink flex-auto ml-4 mr-4 cursor-text
}

.inputElementSlim{
    @apply text-center bg-cat-input text-cat-main rounded-full min-w-[8em] appearance-none border-none
}
.editButtons .inputElementSlim{
  @apply mx-1 my-1
}

.hamburger-icon {
    @apply ml-auto mr-[0.5em] mt-[0.5em] z-10
  }
  .hamburger-icon .icon-bar {
    @apply w-[30px] h-[5px] bg-cat-input mb-[5px]
  }
  
  .hamburger-menu {
    @apply fixed top-0 right-0 w-[40%] h-full z-50 flex flex-col 
  }
  .hamburger-menu .menu-items {
    @apply flex flex-col mt-[-2em] pt-[2em] bg-cat-light rounded-bl-lg
  }
  
  .hamburger-menu .menu-items * {
    margin-left: auto;
  }
  .hamburger-menu .menu-items div {
    display: flex;
  }
  .hamburger-menu .menu-items div p {
    margin: auto 2px auto 0; 
  }
  
  .blur_background {
    @apply fixed top-0 left-0 w-full h-full bg-opacity-50 bg-cat-bg z-[-1]
  }